<div class="main-container">
    <h1>Welcome to Golf Scorecard!</h1>
    <div>
        <mat-form-field>
            <mat-label>Select a Course</mat-label>
            <!-- THIS IS DUMMY DATA. YOU HAVE TO CONNECT TO THE API TO GRAB THE COURSES AND INFO -->
            <mat-select required>
                <mat-option value="foxHollow">Fox Hollow</mat-option>
                <mat-option value="thanksgivingPoint">Thanksgiving Point</mat-option>
                <mat-option value="ranches">Ranches</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Select a Teebox</mat-label>
            <!-- THIS IS DUMMY DATA. YOU HAVE TO CONNECT TO THE API TO GRAB THE COURSES AND INFO -->
            <mat-select required>
                <mat-option value="mens">Men's</mat-option>
                <mat-option value="womens">Women's</mat-option>
                <mat-option value="pro">Pro</mat-option>
                <mat-option value="champion">Champion</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput type="text" placeholder="Add Player">
        </mat-form-field>
        <button mat-mini-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <button mat-raised-button color="primary" (click)="startGame()">Start Game</button>
</div>
