<div class="main-container">
    <h1>Welcome to Golf Scorecard!</h1>
    <div>
        <h2>Select a Course:</h2>
        <mat-form-field>
            <select matNativeControl required>
                <option value="foxHollow">Fox Hollow</option>
                <option value="thanksgivingPoint">Thanksgiving Point</option>
                <option value="ranches">Ranches</option>
            </select>
        </mat-form-field>
    </div>
    <div>
        <h2>Select a Teebox:</h2>
        <mat-form-field>
            <select matNativeControl required>
                <option value="mens">Men's</option>
                <option value="womens">Women's</option>
                <option value="pro">Pro</option>
                <option value="champion">Champion</option>
            </select>
        </mat-form-field>
    </div>
</div>
