<div class="main-container">
    {{courses | json}}
    <table>
        <thead>
            <th>Holes</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>Total</th>
        </thead>
        <tbody>
            <tr>
                <td>Yardage</td>
            </tr>
            <tr>
                <td>Par</td>
            </tr>
            <tr>
                <td>Handicap</td>
            </tr>
            <tr>
                <td>Player 1</td>
            </tr>
            <tr>
                <td>Player 2</td>
            </tr>
            <tr>
                <td>Player 3</td>
            </tr>
            <tr>
                <td>Player 4</td>
            </tr>
        </tbody>
    </table>
</div>